app/vdjml/xsd/1/vdjml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://vdjserver.org/vdjml/xsd/1/"
    xmlns:vdj="http://vdjserver.org/vdjml/xsd/1/"
    xmlns="http://www.w3.org/1999/xhtml"
    elementFormDefault="qualified" attributeFormDefault="unqualified"
    version="1.0"
>
<xs:annotation>
   <xs:documentation xml:lang="en">
    <p>VDJML stores results of immune receptor sequence alignment.</p>
    
    <p>All elements and attributes defined by VDJML schema reside in the 
    namespace <code>http://vdjserver.org/vdjml/xsd/1/</code>, prefix 
    <code>vdj</code>.</p>
    
    <p>User-defined elements and attributes may appear under 
    <a href="#element-meta"><code>vdj:meta</code></a> and 
    <a href="#element-read"><code>vdj:read</code></a> elements.
    User-defined elements and attributes, however, should not use the 
    <code>vdj</code> namespace.</p> 
   </xs:documentation>
</xs:annotation>

<xs:element name="vdjml">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Top element of VDJML document. 
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="vdj:meta" />
         <xs:element ref="vdj:read_results" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               version of the VDJML schema, e.g., <code>1.0</code>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:element>

<xs:element name="meta">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Contains data common to all analysis results.
      May also contain user-defined elements.
      The user-defined elements should not use the namespace <code>vdj</code>.
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="vdj:generator" />
         <xs:choice maxOccurs="unbounded">
            <xs:element ref="vdj:aligner" minOccurs="0" />
            <xs:element ref="vdj:germline_db" minOccurs="0" />
            <xs:any namespace="##other" processContents="lax"
               minOccurs="0" maxOccurs="unbounded" />
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:element name="generator">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Describes the software that wrote the VDJML file
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               The name of the VDJML generator, e.g., <code>libVDJML</code>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Version of the generator software, e.g., <code>1.42.0</code>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="time_gmt" type="xs:dateTime" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Date and time of writing the file, GMT, in 
               <code>xs:dateTime</code> format, e.g., 
               <code>2014-07-24T14:47:24</code>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:element>

<xs:element name="aligner">
   <xs:annotation>
      <xs:documentation xml:lang="en">
         Information about immune receptor analysis software package that
         performs de novo analysis, e.g., IgBlast, VQuest, or software
         that builds upon the existing results.
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence>
         <xs:element name="parameters" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  Parameters used for running the IR analysis software
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="aligner_id" type="xs:positiveInteger"
         use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               A unique identifier for the IR analysis software 
               to be used in other parts of the VDJML document
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               The name of the software
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="xs:string">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               The version of the software
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="run_id" type="xs:integer">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               The unique identifier for the analysis run (TODO:)
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="uri" type="xs:anyURI">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               The URL where the software or information about it can be 
               obtained
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:element>

<xs:element name="germline_db">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Information about a germline database used for the analysis
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:attribute name="gl_db_id" type="xs:positiveInteger" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               A unique identifier for the germline database 
               to be used in other parts of the VDJML document
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Germline database name
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="species" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Germline database species
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Germline database version
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="uri" type="xs:anyURI">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               The URL where the database or information about it can be 
               obtained
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:element>

<xs:element name="read_results">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Collection of alignment results for individual sequence reads.
      It is recommended that the sequence read results appear in the same order
      as in the FASTA/Q files from which the alignment results were obtained.
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
         <xs:element ref="vdj:read" />
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:element name="read">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Stores information pertaining to an individual sequence read.
      May also contain user-defined elements and attribures.
      The user-defined elements and attributes should be in namespaces other than 
      <code>vdj</code>.
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:choice>
         <xs:element ref="vdj:vdj_alignment" minOccurs="0" />
         <xs:any namespace="##other" processContents="lax" minOccurs="0" 
            maxOccurs="unbounded" />
      </xs:choice>
      <xs:attribute name="read_id" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Sequence unique identifier corresponding to the original
               FASTA/Q file.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>
</xs:element>

<xs:element name="vdj_alignment">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Immune receptor sequence alignment results for the sequence read.
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence minOccurs="0" >
         <xs:element ref="vdj:segment_match" maxOccurs="unbounded" />
         <xs:element ref="vdj:combination" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:attributeGroup name="match_metrics">
   <xs:attribute name="identity" type="vdj:Percent">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         Percent of nucleotide sequence identity, e.g., <code>90%</code>.
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="score" type="xs:integer">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         Alignment score, as defined by the aligner software
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="insertions" type="xs:nonNegativeInteger" default="0">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         number of nucleotide insertions in the read sequence aligned to
         the germline sequence
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="deletions" type="xs:nonNegativeInteger" default="0">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         number of nucleotide deletions from the read sequence aligned to
         the germline sequence
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="substitutions" type="xs:nonNegativeInteger" default="0">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         number of nucleotide substitutions
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="stop_codon" type="xs:boolean" default="false">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         <code>true</code> if the stop codon is present
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="mutated_invariant" type="xs:boolean" default="false">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         <code>true</code> if a codon for a conserved amino acid is mutated
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="inverted" type="xs:boolean" default="false">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         <code>true</code> if sequence is inverted (TODO:?)
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="out_frame_indel" type="xs:boolean" default="false">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         <code>true</code> if indel mutation resulted in a frame shift
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="out_frame_vdj" type="xs:boolean" default="false">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         <code>true</code> if V(D)J recombination occured out of frame
         </xs:documentation>
      </xs:annotation>
   </xs:attribute>
</xs:attributeGroup>

<xs:element name="segment_match">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Information about germline gene segment(s) aligned to the read sequence
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="vdj:btop" />
         <xs:element ref="vdj:gl_seg_match" maxOccurs="unbounded" />
         <xs:element ref="vdj:aa_substitution" minOccurs="0" 
            maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="segment_match_id" type="xs:positiveInteger" 
         use="required">
	      <xs:annotation>
	         <xs:documentation xml:lang="en">
	         A unique identifier for segment match to be used in other parts 
               of the VDJML document
	         </xs:documentation>
	      </xs:annotation>
      </xs:attribute>
      <xs:attribute name="read_pos0" type="xs:nonNegativeInteger" 
         use="required" >
	      <xs:annotation>
	         <xs:documentation xml:lang="en">
	         Zero-based starting position of the match in the read sequence
	         </xs:documentation>
	      </xs:annotation>
      </xs:attribute>
      <xs:attribute name="read_len" type="xs:nonNegativeInteger" use="required">
	      <xs:annotation>
	         <xs:documentation xml:lang="en">
	         Number of nucleoteds in the read sequence for the matching region
	         </xs:documentation>
	      </xs:annotation>
      </xs:attribute>
      <xs:attribute name="gl_len" type="xs:nonNegativeInteger" use="required">
	      <xs:annotation>
	         <xs:documentation xml:lang="en">
	         length of aligned germline segment
	         </xs:documentation>
	      </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="vdj:match_metrics" />
   </xs:complexType>
</xs:element>

<xs:element name="btop">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      BTOP (BLAST traceback operations) string.
      Integer indecates the number of aligned nucleotides. 
      Pair of letters indicates a nucleotide mismatch between read/germline 
      sequences.
      Dash ('-') indicates deletion.
      Example: <code>5AC35</code>.
      </xs:documentation>
   </xs:annotation>
   <xs:simpleType>
      <xs:restriction base="xs:token">
         <xs:pattern value="([\w-]{2}|\d+)+" />
      </xs:restriction>
   </xs:simpleType>
</xs:element>

<xs:element name="gl_seg_match">
   <xs:annotation>
      <xs:documentation xml:lang="en">
         Information about aligned germline segment
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:attribute name="gl_seg_match_id" type="xs:positiveInteger"
         use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               A unique identifier for germline segment match to be used in 
               other parts of the VDJML document
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="num_system" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Numbering system name.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Name of the germline segment
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="gl_db_id" type="xs:positiveInteger" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               A unique identifier refering to the 
               <a href="#germline_db-attribute-gl_db_id">germline database</a>
               in which the segment was found
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="aligner_id" type="xs:positiveInteger"
         use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               A unique identifier refering to the 
               <a href="aligner-attribute-aligner_id">aligner software</a>
               that produced the alignment
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="type" type="vdj:Segment_type" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               The type of the segment 
               (<code>V</code>, <code>D</code>, or <code>J</code>)
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="gl_pos0" type="xs:nonNegativeInteger" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Zero-based start of the alignment position in the germline 
               sequence.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:element>

<xs:element name="aa_substitution">
   <xs:annotation>
      <xs:documentation xml:lang="en">
         Information about an amino acid codon substitution
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:attribute name="read_pos0" type="xs:nonNegativeInteger"
         use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Zero-based position of the first nucleotide of the codon in
               the read sequence.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="read_aa" type="vdj:Aminoacid" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               amino acid encoded by the read sequence
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="gl_aa" type="vdj:Aminoacid" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               amino acid encoded by the germline sequence
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:element>

<xs:element name="combination">
   <xs:annotation>
      <xs:documentation xml:lang="en">
         Annotations of the read sequence based on certain alignments
         with germline gene segments.
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="vdj:region" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="segments" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               List of identifiers for the segment matches 
               (<a href="#segment_match-attribute-segment_match_id"
               ><code>segment_match_id</code></a>-s)
               that serve as a basis for the annotations listed in this element.
            </xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:list itemType="xs:positiveInteger" />
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
</xs:element>

<xs:element name="region">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Region of an immune receptor gene, i.e., Ig domain, segment junction.
      Note: the corresponding positions of the germline sequences are not stored
      because they may differ depending on the individual germline segment
      matches.
      </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Name of the region as provided by the alignment software,
               e.g., <code>FR1</code>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="num_system" type="xs:string">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Numbering system name.
               Attribute is not required because for some regions, e.g., 
               for VD-junctions, numbering system is not applicable.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="aligner_id" type="xs:positiveInteger" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Unique identifier for the IR analysis software that produced the 
               region annotation 
               <a href="#aligner-attribute-aligner_id"><code>aligner_id</code
               ></a>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="read_pos0" type="xs:nonNegativeInteger" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Zero-based index of the first read nucleotide that is mapped to
               the region.
               In case of an Ig domain, the corresponding position
               for each germline segment match may be determined based on 
               segment match positions and BTOPs.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="read_len" type="xs:nonNegativeInteger" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">
               Length of the read sequence that corresponds to the region.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="vdj:match_metrics" />
   </xs:complexType>
</xs:element>

<xs:simpleType name="Aminoacid">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      One- or three- letter amino acide abbreviation.
      </xs:documentation>
   </xs:annotation>
   <xs:restriction base="xs:token">
      <xs:enumeration value="A" />
      <xs:enumeration value="a" />
      <xs:enumeration value="Ala" />
      <xs:enumeration value="C" />
      <xs:enumeration value="c" />
      <xs:enumeration value="Cys" />
      <xs:enumeration value="D" />
      <xs:enumeration value="d" />
      <xs:enumeration value="Asp" />
      <xs:enumeration value="E" />
      <xs:enumeration value="e" />
      <xs:enumeration value="Glu" />
      <xs:enumeration value="F" />
      <xs:enumeration value="f" />
      <xs:enumeration value="Phe" />
      <xs:enumeration value="G" />
      <xs:enumeration value="g" />
      <xs:enumeration value="Gly" />
      <xs:enumeration value="H" />
      <xs:enumeration value="h" />
      <xs:enumeration value="His" />
      <xs:enumeration value="I" />
      <xs:enumeration value="i" />
      <xs:enumeration value="Ile" />
      <xs:enumeration value="K" />
      <xs:enumeration value="k" />
      <xs:enumeration value="Lys" />
      <xs:enumeration value="L" />
      <xs:enumeration value="l" />
      <xs:enumeration value="Leu" />
      <xs:enumeration value="M" />
      <xs:enumeration value="m" />
      <xs:enumeration value="Met" />
      <xs:enumeration value="N" />
      <xs:enumeration value="n" />
      <xs:enumeration value="Asn" />
      <xs:enumeration value="P" />
      <xs:enumeration value="p" />
      <xs:enumeration value="Pro" />
      <xs:enumeration value="Q" />
      <xs:enumeration value="q" />
      <xs:enumeration value="Gln" />
      <xs:enumeration value="R" />
      <xs:enumeration value="r" />
      <xs:enumeration value="Arg" />
      <xs:enumeration value="S" />
      <xs:enumeration value="s" />
      <xs:enumeration value="Ser" />
      <xs:enumeration value="T" />
      <xs:enumeration value="t" />
      <xs:enumeration value="Thr" />
      <xs:enumeration value="V" />
      <xs:enumeration value="v" />
      <xs:enumeration value="Val" />
      <xs:enumeration value="W" />
      <xs:enumeration value="w" />
      <xs:enumeration value="Trp" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="y" />
      <xs:enumeration value="Tyr" />
      <xs:enumeration value="*" />
      <xs:enumeration value="Stop" />
      <xs:enumeration value="X" />
      <xs:enumeration value="x" />
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Nucleotide_defined">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      A symbol for one of the 5 nucleotides: 
      adenine, thymine, guanine, cytosine, or uracil
      </xs:documentation>
   </xs:annotation>
   <xs:restriction base="xs:token">
      <xs:enumeration value="A" />
      <xs:enumeration value="A" />
      <xs:enumeration value="a" />
      <xs:enumeration value="C" />
      <xs:enumeration value="c" />
      <xs:enumeration value="G" />
      <xs:enumeration value="g" />
      <xs:enumeration value="T" />
      <xs:enumeration value="t" />
      <xs:enumeration value="U" />
      <xs:enumeration value="u" />
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Nucleotide_ambiguous">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      IUPAC representations of ambiguous nucleotide.  
      See <a href="http://www.chem.qmul.ac.uk/iubmb/misc/naseq.html"
      >http://www.chem.qmul.ac.uk/iubmb/misc/naseq.html</a>
      </xs:documentation>
   </xs:annotation>
   <xs:restriction base="xs:token">
      <xs:enumeration value="R" />
      <xs:enumeration value="r" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="y" />
      <xs:enumeration value="K" />
      <xs:enumeration value="k" />
      <xs:enumeration value="M" />
      <xs:enumeration value="m" />
      <xs:enumeration value="S" />
      <xs:enumeration value="s" />
      <xs:enumeration value="W" />
      <xs:enumeration value="w" />
      <xs:enumeration value="B" />
      <xs:enumeration value="b" />
      <xs:enumeration value="D" />
      <xs:enumeration value="d" />
      <xs:enumeration value="H" />
      <xs:enumeration value="h" />
      <xs:enumeration value="V" />
      <xs:enumeration value="v" />
      <xs:enumeration value="N" />
      <xs:enumeration value="n" />
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Segment_type">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Representing one of the V(D)J (variable, diversity, and joining) segments 
      recombined to be part of the immune receptor gene.
      </xs:documentation>
   </xs:annotation>
   <xs:restriction base="xs:token">
      <xs:enumeration value="V" />
      <xs:enumeration value="D" />
      <xs:enumeration value="J" />
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Nucleotide_any">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Representing any nucleotide (ambiguous or not)
      </xs:documentation>
   </xs:annotation>
   <xs:union memberTypes="vdj:Nucleotide_defined vdj:Nucleotide_ambiguous" />
</xs:simpleType>

<xs:simpleType name="Percent">
   <xs:annotation>
      <xs:documentation xml:lang="en">
      Fraction of a value
      </xs:documentation>
   </xs:annotation>
   <xs:restriction base="xs:string">
      <xs:pattern value="(100|\d{1,2})(\.\d{0,2})?%" />
   </xs:restriction>
</xs:simpleType>

</xs:schema>
